<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Add</title>
</head>

<body>
  <a href="/">back</a>
  <form action="/add" method="post">
    <div>
      <span>name</span>
      <input type="text" name="name" required>
    </div>
    <div>
      <span>comment</span>
      <input type="text" name="comment" required>
    </div>
    <button>Submit</button>
  </form>
</body>

</html>